*{
    box-sizing: border-box;
    Text-align: center;
  }
  
  body {
  
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      font-size: 18px;
      width: 960px;
      color: #777;
      background: #777;
      margin-left: 200px;
  
    }
    
    header {
      background: #ebebeb;
      width: 100%;
      height: 75px;
      padding: 20px;
      margin-bottom: 10px;
  
    }
    
  section{
    padding: 20px;
    margin-bottom: 10px;
  }
  
    #nav {
      background: #ebebeb;
      height: 75px;
  
    }
    
    
    
    
    #full {
      background: #ebebeb;
      float: left;
      clear: both;
      overflow: auto;
      width: 52%;
  
    }
    
    #article {
      color: #ebebeb;
      background: #777;
    }
  
  
  #headlines {
    color: #777;
    background: #ebebeb
  }
  
    #p {
      color: #777;
      background: #ebebeb;
    }
    
  
    aside {
      background: #ebebeb;;
      padding: 20px;
      float: right;
      width: 47%;
      height: 275px;
  
    }
  
    footer {
      background: #ebebeb;
      width: 100%;
      height: 75px;
      clear: both;
      padding: 20px;
  
    }